*, html, body {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.heading {
  text-align: center;
  margin: 20px 0px 10px 0px;
}

.subheading {
  text-align: center;
  margin: 0px 0px 10px 0px;
}

.myform {
  box-sizing: border-box;
  border: 1px solid grey;
  border-radius: 12px;
  margin: 20px auto 10px;
  width: 550px;
  padding: 10px 5px 10px;
  text-align: center;
}
.toolname, .imagelink {
  border: 1px solid black;
  box-shadow: 0px 0px 5px 3px lightgrey;
  border-radius: 8px;
  padding: 8px;
  width: 200px;
  font-size: 12px;
  line-height: 1.2;
  cursor: text;
}

.toolname:focus, .imagelink:focus {
  outline: none;
}

.submit {
  background-color: dodgerblue;
  box-shadow: 0px 0px 5px 3px lightgrey;
  border-radius: 8px;
  padding: 7px;
  width: 80px;
  color: white;
  font-size: 14px;
  line-height: 1.2;
  cursor: pointer;
}

.list {
  /* border: 1px solid black; */
  box-sizing: border-box;
  width: 500px;
  margin: 10px auto;
  padding: 20px;
  list-style-type: none;
}

.list_item {
  border: 1px solid black;
  border-radius: 12px;
  box-shadow: 0px 0px 5px 3px grey;
  margin: 10px;
  padding: 5px 10px;
  height: 70px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.list_item_image {
  margin: 0px 20px;
  border-radius: 8px;
  width: 50px;
  height: 50px;
}